<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    {% include 'partials/navbar.html' %}
    <div class="panel"></div>
    <!-- hero section -->
    <div class="hero-section">
        <div class="hero-message">
            <p>You are on <a href="/">amazon.com</a>. You can also shop on Amazon Turkiye for millions of products with fast local delivery.</p>
        </div>
    </div>

    <div class="shop-section">
        {% for product in products %}
        <div class="box">
            <div class="box-content">
                <h2>{{ product.name }}</h2>
                {% if product.image %}
                <div class="box-img" style="background-image: url('{{ product.image.url }}');"></div>
                {% else %}

                <div class="box-img" style="background-image: url('images/default_product.jpg');"></div>
                <img src="{% static 'images/default_product.jpg' %}" alt="No Image" class="product-sidebar-image">
                {% endif %}
                <!-- Product Details -->
                <p><a href="{% url 'product_detail' product.id %}">See more</a></p>
            </div>
        </div>
        {% endfor %}
    </div>


    <footer>
        <div class="foot-panel1">Back To Top</div>
        <div class="foot-panel3">
            <div class="logo"></div>
        </div>
        <div class="foot-panel4">
            <div class="pages">
                <a href="#">Conditions of Use</a>
                <a href="#">Privacy Notice</a>
                <a href="#">Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </div>
        </div>
    </footer>
</body>

</html>
